<h2>Add Task</h2>
<form (ngSubmit)="onSubmit()">
  <p>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
  </p>

  <p>
    <label for="summary">Summary</label>
    <textarea
      id="summary"
      rows="5"
      name="summary"
      [(ngModel)]="enteredSummary"
    ></textarea>
  </p>

  <p>
    <label for="due-date">Due Date</label>
    <input
      type="date"
      id="due-date"
      name="due-date"
      [(ngModel)]="enteredDate"
    />
  </p>

  <p class="actions">
    <a routerLink="../">Cancel</a> <!--en este caso basta con asociar un routerLink para que el usuario vuelva a ver todas las tasks-->
    <!--con el ../ volvemos a la posicion anterior a la que estamos, justo a la anterior que seria donde se muestra el listado de tasks de un
    usuario en concreto
    *en este caso pasamos de users/id/tasks/new a users/id/tasks; justo lo que queremos-->
    <button type="submit">Create</button>
    <!--para el boton, como es un boton de verdad para poder hacer el envio de los datos de la task
    tenemos que programar la navegacion al hacer click en el!!-->
  </p>
</form>
